.wrapper_app {
    margin: 0 auto;
    display: grid;
    min-height: 100%;
    grid-template: minmax(85px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer"
}
.header {
    display: grid;
    padding: 15px;
    grid-area: header;
    background-color: darkgray;
    grid-template:  1fr/ 1fr minmax(50px, auto) minmax(540px, auto) minmax(510px, auto) minmax(50px, auto) 1fr ;
    padding: 15px;
    align-items: center;
}
.logo {
    grid-column: 2/3;

    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: url("assets/icons_logo/logo.svg") no-repeat center / cover;
    align-items: center;
}
.search_form {
    grid-column: 3/4;
    display: grid;
    grid-template: 1fr/minmax(400px,auto) minmax(50px,auto);
    justify-content: end;

}
.navBar {
    grid-column: 4/5;
}
.navBar_menu {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-column-gap: 25px;
}
.setting_button {
    grid-column: 5/6;
    display: grid;
}

.main {
    display: grid;
    grid-area: main;
    background-color: aliceblue;
    /*grid-template: 1fr / 1fr minmax(300px, auto) minmax(800px ,auto) 1fr;*/
}
/*.side_menu {*/
/*    display: grid;*/
/*    grid-column: 2/3;*/
/*    background-color: darkgray;*/

/*}*/
/*.content {*/
/*    display:grid;*/
/*    grid-column: 3/4;*/
/*    background-color: aliceblue;*/
/*}*/
/*.content_image {*/
/*    display: grid;*/
/*    grid-template: 1fr / minmax(1100px ,auto) 1fr;*/
/*    min-height: 400px;*/
/*    background: url("assets/image/main_img.jpg") no-repeat center / cover;*/
/*}*/
/*.content_info {*/
/*    display: grid;*/
/*    grid-template: 1fr / minmax(100px, auto) minmax(800px, auto) 1fr;*/
/*}*/
/*.foto {*/
/*    display: grid;*/
/*    background: url("assets/image/foto.webp")no-repeat center / cover;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-radius: 100%;*/
/*}*/
.footer {
    display: grid;
    grid-area: footer;
    background-color: darkgray;
}


